<script src="login_animation.js"></script>

<div class="login">
    <div class="triangle-up"></div>
    <h2 class="login-header">Log in</h2>
    <hr />
    <div class="login-container">
        <div class="form-group">
            <label for="email">Username</label>
            <input nbInput type="text" class="form-control" required="true" id="username" placeholder="Username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <button mat-button matPrefix mat-icon-button onclick="register_switchPassword()">
                    <i class="material-icons" id="password_lock">
                        lock
                    </i>
                </button>
            <input nbInput class="register_form_field" type="password" class="form-control" required="true" id="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <br /> <input  id="submit" type="submit" value="Log in" (click)="loginUser()">
    </div>
    <hr />
    <div class="triangle-down"></div>
</div>