.dialogWrapper h1 {
    font-size: 2vw;
    text-align: center !important;
}

.buy_button {
    align-content: center !important;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-self: center !important;
}