<script>
    getHref = () => {
        var value = "{{stockSymbol}}";
        var href = "";
        console.log(href);
        return href;
    }
</script>

<nb-card>
    <nb-card-header>
        <div>
            {{stockSymbol}} | {{stockName}}
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Information">
                <iframe frameBorder='0' scrolling='no' width='800' height='420' [src]="stockAPIString">
                </iframe>
            </nb-tab>
            <nb-tab tabTitle="Analyse">
                <iframe frameBorder='0' scrolling='no' width='800' height='420' [src]="stockAPIString">
                </iframe>
            </nb-tab>
            <nb-tab tabTitle="News ">
                <nb-card [size]="'medium'">
                    <nb-list>
                        <nb-list-item *ngFor="let title of news_titles;let i = index">
                            <div (click)=openLink(i)>
                                {{title}}
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card>
                <b>Powered by newsapi.org</b>
            </nb-tab>
            <nb-tab tabTitle="Kaufen " *ngIf="showContent('buy')">
                <div class="dialogWrapper" *ngIf="isAuthenticated()">
                    <h1>
                        {{stockSymbol}}
                    </h1>
                    <br /> Momentaner Kurs: {{symbolPrice}}
                    <div>
                        <br />
                        <input type="number" (keyup)="updateTotalValue($event)" min="0" max="100" nbInput fullWidth
                            shape="round" placeholder="Anzahl ">
                        <br />
                        <label>
                            Total Transaktionswert: <b>{{totalTransactionValue}}</b> CHF
                        </label>
                        <br />
                        <div>
                            <nb-checkbox (checkedChange)="toggle($event)">Delayed Buy</nb-checkbox>
                            <ng-template [ngIf]="isChecked()">
                                <br />
                                <br />
                                <div>
                                    <label>
                                        Zusätzliche Kosten: 50CHF
                                    </label>
                                    <br />
                                    <br />
                                    <nb-calendar [date]="date" (dateChange)="handleDateChange($event)">
                                    </nb-calendar>
                                </div>
                            </ng-template>
                        </div>
                        <br />
                        <br />
                        <input type="submit" class="buy_button" (click)="buyStock()" nbButton value="Kaufen" />
                    </div>
                </div>
                <div *ngIf="!isAuthenticated()">
                    <b>Sie sollten sich zuerst einloggen oder einen Account erstellen.</b>
                    <br />
                    <a href="/login">Login</a>
                </div>
            </nb-tab>
            <nb-tab *ngIf="showContent('sell')" tabTitle="Verkaufen ">
                <h1>
                    {{stockSymbol}}
                </h1>
                <br /> Momentaner Kurs: {{symbolPrice}}
                <br /> Anzahl Aktien {{fixedStockCount}}
                <div>
                    <br />
                    <input type="number" (keyup)="updateTotalValue($event)" min="0" max="100" nbInput fullWidth
                        shape="round" placeholder="Anzahl ">
                    <br />
                    <label>
                        Total Verkaufswert: <b>{{totalTransactionValue}}</b> CHF
                    </label>
                    <br />
                    <br />
                    <br />
                    <input type="submit" class="buy_button" (click)="sellStock()" nbButton value="Verkaufen" />
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>