<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Informationen">
            </nb-tab>
            <nb-tab tabTitle="News">
            </nb-tab>
            <nb-tab tabTitle="Kaufen">
                <div class="dialogWrapper">
                    <h1>
                        {{stockSymbol}}
                    </h1>
                    <br />
                    Momentaner Preis: {{symbolPrice}}
                    <div>
                        <br />
                        <input type="number" onchange="updateTotalValue($this)" id="" min="0" max="100" nbInput fullWidth shape="round"
                            placeholder="Anzahl">
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Verkaufen">
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>