@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.navigation_bar {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

ul li {
  margin-left: 10px;
}

.left_side_toggle {
  margin-left: 50px;
}

.name_tag {
  margin-left: 80px;
}
