<nb-layout>
    <nb-layout-header responsive>
        <ul>
            <li><button [nbContextMenu]="user_items" class="menu-button" nbButton hero status="primary">User</button>
            </li>
            <li><button [nbContextMenu]="market_items" class="menu-button" nbButton hero
                    status="primary">Market</button>
            </li>
            <li><button [nbContextMenu]="portfolio_items" class="menu-button" nbButton hero
                    status="primary">Portfolio</button>
            </li>
            <ng-template [ngIf]="isAuthenticated()">
                <li><button (click)="logout()" class="menu-button" nbButton hero status="primary">Logout</button></li>
            </ng-template>
            <ng-template [ngIf]="!isAuthenticated()">
                <li><a href="/login" nbButton hero class="menu-button" status="primary">Login</a></li>
                <li><a href="/register" nbButton hero class="menu-button" status="primary">Register</a></li>
            </ng-template>
        </ul>
        <div class="left_side_toggle">
            <nb-toggle [(ngModel)]="darkMode" (click)="changeColorMode()">Dark-Mode</nb-toggle>
        </div>
        <br />
        <div class="name_tag">
            <ng-template [ngIf]="isAuthenticated()">
                Wilkommen {{username}}
            </ng-template>
        </div>
    </nb-layout-header>
    <nb-layout-column>
        <router-outlet>
        </router-outlet>
    </nb-layout-column>
    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>
</nb-layout>