<div class="content_wrap " wfd-id="164">
    <ol>
        <h5>WICHTIGE INFORMATION</h5>
        <p>Bitte lesen Sie unsere Allgemeinen Geschäftsbedingungen aufmerksam. Ihr Kauf oder Gebrauch unserer Produkte bedeutet, dass Sie die Allgemeinen Geschäftsbedingungen gelesen und akzeptiert haben.
        </p>
        <li wfd-id="193">
            <h5>LIZENZ</h5>
            <p>Unsere Website bietet Ihnen vier Lizenztypen zur Nutzung von Webtemplates und anderen Produkten (die „Produkte“), die von unabhängigen Anbietern über unsere Website gemäß diesen AGB (die “Lizenz”) verkauft werden:</p>
            <ol>
                <li wfd-id="198">
                    <h5>EINMALIGE NUTZUNGSLIZENZ<br>
                    </h5>
                    <p>Die einmalige Nutzungslizenz wird Ihnen gewährt, wenn Sie ein Web-Template zu einem Nicht-Exklusiven Preis kaufen. Diese Lizenz erlaubt den Einsatz jedes einzelnen Produktes nur für eine Webseite, die entweder Ihnen oder Ihren Kunden
                        gehört. Sie müssen dasselbe Template erneut erwerben, wenn Sie dasselbe Design für ein anderes Projekt verwenden möchten;</p>
                </li>
                <li wfd-id="197">
                    <h5>ENTWICKLER-LIZENZ<br>
                    </h5>
                    <p>Wenn Sie eine Entwickler-Lizenz erwerben, erhalten Sie eine nicht-exklusive Erlaubnis, die gekaufte Vorlage auf bis zu 5 Domains für Projekte zu verwenden, die Ihnen oder Ihren Kunden gehören. Mit dieser Lizenz ist es nicht erlaubt,
                        das gekaufte Produkt in eine Drittanbieter-Software, Freeware oder Anwendungen zu integrieren;</p>
                </li>
                <li wfd-id="196">
                    <h5>ERWEITERTE LIZENZ</h5>
                    <p>Diese Lizenz berechtigt Sie dazu, die Vorlage in eine Software, Freeware oder Anwendung zu integrieren, die nicht von unserer Firma produziert wurde. Sie dürfen Ihre Produkte unbegrenzt verwenden oder weiterverkaufen. Der Preis für
                        die erweiterte Lizenz beträgt die Hälfte vom Buyout-Preis. Sie können die Lizenz bei marketing@templatemonster.com beantragen;</p>
                </li>
                <li wfd-id="195">
                    <h5>GNU GENERAL PUBLIC LICENSE v3.0</h5>
                    <p>Wenn Sie eine Vorlage kaufen, die unter GNU General Public License v3.0 veröffentlicht wurde, können Sie es für eine beliebige Anzahl von Projekten ohne Einschränkungen verwenden, die entweder Ihnen oder Ihren Kunden gehören. Diese
                        Lizenz ermöglicht es Ihnen, die Vorlage und ihre Quellen ändern, an Ihre Bedürfnisse anpassen sowie unter GPL- Bedingungen weiterverbreiten;</p>
                </li>
                <li wfd-id="194">
                    <h5>BUYOUT KAUFLIZENZ<br>
                    </h5>
                    <p>Man kann Ihnen eine Buyout (Ausverkauf) Kauflizenz gewähren, wenn Sie ein Webtemplate zum Buyout Preis kaufen. Diese Lizenzart garantiert, dass Sie der letzte Käufer dieses Templates sind. Nach dem Buyout wird das Template dauerhaft
                        aus dem Verkaufsverzeichnis von TemplateMonster entfernt und wird niemals anderen Kunden angeboten. Sie dürfen das zum Buyout Preis gekaufte Template nicht weiterverbreiten oder weiterverkaufen.</p>
                </li>
            </ol>
        </li>
        <li wfd-id="192">
            <h5>BILDER, CLIPARTS UND SCHRIFTEN<br>
            </h5>
            <p>Alle Bilder, Cliparts, Schriften und Filmaufnahmen, die in unseren Produkten verwendet werden, sind gebührenfrei und stellen den integralen Bestandteil unserer Waren dar. Einmalige Nutzungslizenz und Entwickler-Lizenz geben Ihnen das Recht,
                Bilder, Cliparts, Schriften und Filmaufnahmen nur als Teil der Webseite zu verwenden, die Sie mit Ihrer Vorlage aufbauen. Sie können Bilder, Clipart, Schriften und Filmaufnahmen nur für die Entwicklung eines Projektes verwenden. Jede Art
                von separaten Nutzung oder Verbreitung ist streng verboten. Alle Bilder und Illustrationen, die in Templates benutzt werden, werden als eine einzige Ebene geliefert. Einige Templates, die mit der Flash-Technologie animiert sind, können
                Effekte enthalten, die via Adobe AfterEffects oder 3DMax Software-Pakete erstellt wurden. Um herauszufinden, ob es solche Effekte in einem bestimmten Template gibt, bitte wenden Sie sich mit dieser Frage an unseren Kundendienst (Support
                Team). Beachten Sie jedoch bitte, dass Sie die passende Software und die entsprechenden Fähigkeiten für die Bearbeitung dieser Effekte brauchen. Als Alternative können Sie dafür einen Fachmann engagieren. In solchen Fällen empfehlen wir
                Ihnen sich an TemplateTuning.com zu wenden.</p>
        </li>
        <li wfd-id="191">
            <h5>ANPASSUNGEN<br>
            </h5>
            <p>Sie sind berechtigt, die notwendigen Anpassungen unserer Produkte für Ihre Zwecke je nach Lizenzart vorzunehmen.</p>
        </li>
        <li wfd-id="190">
            <h5>UNBERECHTIGE VERWENDUNG<br>
            </h5>
            <p>Ohne Buyout Lizenz dürfen Sie keines unserer Produkte weder modifiziert noch unverändert auf Diskette, CD, Website oder anderen Medien speichern. Veröffentlichung oder Weiterverkauf sind ohne schriftliche Genehmigung unseres Unternehmens nicht
                erlaubt.
            </p>
        </li>
        <li wfd-id="189">
            <h5>ÜBERTRAGBARKEIT</h5>
            <p>Ohne vorherige schriftliche Zustimmung unseres Unternehmens dürfen Sie keine Unterlizenzen erteilen und die Lizenz nicht an Dritte übertragen.</p>
        </li>
        <li wfd-id="188">
            <h5>EIGENTUM<br>
            </h5>
            <p>Sie können kein geistiges Eigentum oder den exklusiven Besitz zu irgendwelchen unserer Produkte behaupten, geändert oder unverändert. Alle Produkte sind Eigentum unabhängiger Inhaltsanbieter. Die Produkte werden “wie besehen” und “wie verfügbar”
                ohne Garantie, gleich welcher Art bereitgestellt. Wir haften keinesfalls für Schäden jeglicher Art, einschließlich, aber nicht beschränkt auf direkte, indirekte, mittelbare oder unmittelbare Schäden oder Verluste, die sich aus der Verwendung
                oder Nicht-Verwendbarkeit der Produkte ergeben.</p>
        </li>
        <li wfd-id="187">
            <h5>INSTALLATION<br>
            </h5>
            <p>Wir installieren keine unserer Produkte (osCommerce Templates, Zen Cart Templates, usw.) gratis. Der Installationsservice ist kostenpflichtig und ist nicht im Paketpreis enthalten.</p>
        </li>
        <li wfd-id="186">
            <h5>ANTI-BETRUGS-ÜBERPRÜFUNG<br>
            </h5>
            <p>Der Bestellung kann wegen der manuell durchgeführten “Anti-Betrugs-Überprüfung” etwa 10 bis 20 Minuten oder auch länger (wegen ernsteren Untersuchungen) dauern. Wir sind gezwungen, die Betrugsüberprüfung (Antifraud<br> Check) durch den steigenden
                Missbrauch von Personen die nicht tatsächliche Kartenbesitzer der Kreditkarten sind, durchzuführen.</p>
        </li>
        <li wfd-id="185">
            <h5>DIENSTE DRITTER<br>
            </h5>
            <p>Wir sorgen für die Erreichbarkeit und Werbung der Drittanbieter-Produkte und Dienstanbieter (“Anbieter”), von denen Sie bestimmte Waren oder Dienstleistungen erwerben können. Sie verstehen, dass wir die angebotenen Produkte oder Dienstleistungen
                weder betreiben noch kontrollieren. Anbieter sind für alle Aspekte der Auftragsabwicklung, Erfüllung und Kundenservice zuständig. Wir sind nicht die Partei der Transaktionen, die zwischen Ihnen und einem Anbieter abgeschlossen werden.
                Sie erklären sich damit einverstanden, dass die Nutzung bzw. der Kauf bei Anbietern auf Ihr eigenes Risiko erfolgt und unsererseits keinerlei Haftungsverpflichtung hierfür übernommen wird, weder ausdrücklich noch impliziert oder in anderer
                Art, unter anderem Rechtsmängelhaftung, Haftung für Geeignetheit zu einem bestimmten Gebrauch, Marktgängigkeit oder Nichtverletzung von Schutzrechten Dritter. In keinem Fall haften wir für irgendwelche Schäden, die aus den Transaktionen
                zwischen Ihnen und den Händlern entstehen, oder für irgendwelche Informationen, die auf Websites von Anbietern oder anderen mit unserer Website verlinkten Seiten erscheinen.</p>
        </li>
        <li wfd-id="182">
            <h5>REGISTRIERUNG/KAUF<br>
            </h5>
            <p>Für den Kauf auf der Website ist die Anmeldung erforderlich. Wenn die Registrierung abgeschlossen ist, stimmen Sie zu, dass alle für die Registration und/oder Kauf eingegebenen Informationen richtig und vollständig sind. Bei der Anmeldung
                müssen Sie die wahrheitsgetreue Information eingeben. Jede Anmeldung ist nur für Ihren persönlichen Gebrauch bestimmt. Wir können es insbesondere nicht zulassen:</p>
            <ol>
                <li wfd-id="184">dass andere Person unter Ihrem Namen die registrierten Bereiche verwendet; oder</li>
                <li wfd-id="183">dass Zugriff über einen einzigen Namen für mehrere Benutzer in einem Netzwerk verfügbar ist.</li>
            </ol>
            <p>Templatemonster.com behält sich das Recht und Befugnisse vor, Ihre Anmeldung anzunehmen oder abzulehnen, oder die Anmeldung aus wichtigen Gründen zu annullieren.</p>
        </li>
        <li wfd-id="181">
            <h5>FEHLER, KORREKTUREN UND ÄNDERUNGEN<br>
            </h5>
            <p>Wir geben keine Garantie, dass die Website fehlerfrei, frei von Viren oder anderen schädlichen Komponenten ist, oder dass jegliche Mängel behoben werden. Wir garantieren auch nicht, dass die Information, die auf der Seite oder über die Seite
                verfügbar ist, richtig, genau, rechtzeitig oder zuverlässig ist. Wir können Änderungen an allen angebotenen Features, Funktionalitäten und Inhalten jederzeit vorzunehmen. Wir behalten uns das Recht vor, Dokumente, Informationen oder andere
                Inhalte ausschließlich nach eigenem Ermessen zu bearbeiten oder zu löschen.</p>
        </li>
        <li wfd-id="180">
            <h5>INHALTE DRITTER<br>
            </h5>
            <p>Inhalte Dritter können auf dieser Website erscheinen oder von dieser Website über Links erreichbar sein. Wir übernehmen keine Verantwortung für Fehler, Rechtswidrigkeiten, Verleumdungen, Auslassungen, Falschheit, Obszönitäten, Pornografie
                oder Profanität in den Aussagen, Meinungen, Darstellungen oder jeder anderen Form der Inhalten auf der Website. Sie nehmen zur Kenntnis, dass die Informationen und Meinungen dieser Inhalte Dritter weder von uns befürwortet wird, noch die
                Meinung von uns vermittelt.</p>
        </li>
        <li wfd-id="179">
            <h5>RECHTSWIDRIGE AKTIVITÄTEN<br>
            </h5>
            <p>Wir behalten uns das Recht vor, jegliche Verletzungen dieser Nutzungsbedingungen oder Hinweisen dieser Art zu prüfen und gegebenenfalls angemessene rechtliche Schritte einzuleiten, bis hin zur Anzeige vor Gericht und Offenlegung aller notwendiger
                Informationen zu diesen Personen oder Unternehmen wie Nutzerprofile, E-Mail Adressen, Nutzungs-Historie, veröffentlichte Inhalte, IP-Adressen sowie Informationen zum Traffic.</p>
        </li>
        <li wfd-id="171">
            <h5>HAFTUNGSBEGRENZUNG<br>
            </h5>
            <ol>
                <li wfd-id="173">
                    <p>Wir und alle verbundenen Parteien tragen keine Verantwortung für den Verlust, Schaden, Anspruch, Verpflichtungen oder Schäden anderer Art, die durch Folgendes verursacht wurden:</p>
                    <ol>
                        <li wfd-id="178">beliebige Fehler oder Versäumnisse unmittelbar auf der Webseite oder in den Produkten und Dienstleistungen, die durch diese angeboten werden,</li>
                        <li wfd-id="177">Unzulänglichkeit oder Unterbrechung der Funktion der Webseite und alle daraus folgende Ursachen,</li>
                        <li wfd-id="176">Ihre Benutzung der Webseite,</li>
                        <li wfd-id="175">Inhalte, die auf der Webseite dargestellt werden oder</li>
                        <li wfd-id="174">Verzögerungen oder Leistungsstörungen, die außerhalb der Kontrolle einer Vertragspartei liegen.</li>
                    </ol>
                </li>
                <li wfd-id="172">die Gesamthaftung des Unternehmens und der verbundenen Parteien, die sich in Bezug auf die Website und/ oder angebotene Produkte, Informationen, Dokumente und Dienstleistungen ergibt, darf 100 USD nicht überschreiten. Dieser Betrag ersetzt
                    alle anderen Rechtsmittel gegen uns und verbundene Parteien.
                </li>
            </ol>
        </li>
        <li wfd-id="167">
            <h5>ZAHLUNGEN<br>
            </h5>
            <p>Beim Kauf bei TemplateMonster garantieren Sie, dass</p>
            <ol>
                <li wfd-id="170">die angegebenen Kreditinformationen richtig und vollständig sind,</li>
                <li wfd-id="169">alle Kosten von Ihnen mittels einer Kreditkarte oder anders bezahlt werden, und</li>
                <li wfd-id="168">Sie werden die benötigten Kosten (einschließlich aller anwendbaren Steuern) zahlen.</li>
            </ol>
        </li>
        <li wfd-id="166">
            <h5>ANWENDBARES RECHT UND GERICHTSBARKEIT<br>
            </h5>
            <p>Durch den Zugriff auf die Website erklären Sie sich damit einverstanden, dass für alle Angelegenheiten bezüglich des Umgangs und der Benutzung der Internetseite und deren Inhalt das Gesetz vom US-Bundesstaat Florida massgeblich ist. Die Parteien
                schließen ausdrücklich die Anwendbarkeit des UN-Kaufrechts (CISG) sowie aller internationalen Handelsklauseln aus. Sie erklären sich damit einverstanden, dass für alle Klagen in Zusammenhang mit diesen Geschäftsbedingungen allein die Gerichte
                auf Bundes- und Bundesstaatenebene in Broward County, Florida, zuständig sind, und dass Sie sich im Fall eines Prozesses der Rechtsprechung dieser Gerichte fügen.</p>
        </li>
        <li wfd-id="165">
            <h5>OFFENLEGUNG VON INFORMATIONEN<br>
            </h5>
            <p>Sie dürfen keine Bestellangaben, einschließlich – aber nicht ausschließlich – Bestell Nr., Download-Link usw. weitergeben.</p>
        </li>
    </ol>
    <p style="text-align: center;"><strong>Unser Unternehmen behält sich das Recht vor, diese Allgemeinen Geschäftsbedingungen ohne Vorankündigung zu ändern.</strong></p>
</div>