Nutzerdaten neu laden: <nb-icon icon="refresh" id="refreshButton" (click)="refreshData()"></nb-icon>
<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Nutzer informationen">
                <b>Username:</b> {{username}} <br />
                <br />
                <br />
                <b>Passwort ändern</b>
                <div><br />
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <button mat-button matPrefix mat-icon-button onclick="register_switchPassword()">
                            <i class="material-icons" id="password_lock">
                                lock
                            </i>
                        </button>
                        <input class="register_form_field" type="password" nbInput class="form-control" required="true"
                            id="password" placeholder="Password" [(ngModel)]="newPassword">
                    </div>
                    <br />
                    <input type="submit" (click)="changePassword()" />
                </div>
                <br />
                <br />
                Balance: {{currentBalance}}
                <br />
                Total-Value: {{currentValue}}
            </nb-tab>
            <nb-tab tabTitle="Portfolio">
                <a [href]="portfolioListUrl" download="portfolio.txt">Portfoliostand herunterladen</a>
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="data" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
                            <ng-container nbTreeGridColumnDef="symbol">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Symbol</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="displayStockInformation(row)">
                                    <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="row.data.kind === 'dir'">
                                    </nb-tree-grid-row-toggle>
                                    <div *ngIf="row.data.type == 'child'">
                                        -
                                    </div>
                                    <div *ngIf="row.data.type == 'root'">
                                        {{row.data.symbol}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="company" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Titel</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    <div *ngIf="row.data.type == 'child'">
                                        -
                                    </div>
                                    <div *ngIf="row.data.type == 'root'">
                                        {{row.data.company}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="800">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.amount}}</i></td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="totalValue">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Positionsgrösse USD</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.totalValue}}</i>
                                </td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Ausstehend">
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="delayedTransactions" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allDelayedTransCol"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allDelayedTransCol"></tr>
                            <ng-container nbTreeGridColumnDef="action">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Aktion</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    {{row.data.action}}
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="description" [hideOn]="800">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Beschreibung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.description}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="date" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Datum</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.date}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.amount}}</td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Transaktionen">
                <a [href]="transactionHistoryUrl" download="transactionHistory.txt">Transaktionen herunterladen</a>
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="transactionData" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allTransactionColumns"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allTransactionColumns"></tr>
                            <ng-container nbTreeGridColumnDef="action">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Aktion</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    {{row.data.action}}
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="description" [hideOn]="800">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Beschreibung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.description}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="date" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Datum</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.date}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="value" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.value}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.amount}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="totalValue">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Totaler Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.totalValue || '-'}}</td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <a [href]="portfolioListUrl" download="portfolio.txt">Portfoliostand herunterladen</a>
            <nb-tab>
            <nb-card>
                <nb-card-body>
                    <table [nbTreeGrid]="data" equalColumnsWidth>
                        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
                        <ng-container nbTreeGridColumnDef="symbol">
                            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Symbol</th>
                            <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="displayStockInformation(row)">
                                <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="row.data.kind === 'dir'">
                                </nb-tree-grid-row-toggle>
                                <div *ngIf="row.data.type == 'child'">
                                    -
                                </div>
                                <div *ngIf="row.data.type == 'root'">
                                    {{row.data.symbol}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container nbTreeGridColumnDef="company">
                            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Titel</th>
                            <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                <div *ngIf="row.data.type == 'child'">
                                    -
                                </div>
                                <div *ngIf="row.data.type == 'root'">
                                    {{row.data.company}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container nbTreeGridColumnDef="amount">
                            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                            <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.amount}}</i></td>
                        </ng-container>
                        <ng-container nbTreeGridColumnDef="totalValue">
                            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Positionsgrösse USD</th>
                            <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.totalValue}}</i>
                            </td>
                        </ng-container>
                    </table>
                </nb-card-body>
            </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Ausstehend">
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="delayedTransactions" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allDelayedTransCol"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allDelayedTransCol"></tr>
                            <ng-container nbTreeGridColumnDef="action">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Aktion</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    {{row.data.action}}
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="description">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Beschreibung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.description}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="date">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Datum</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.date}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.amount}}</td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Transaktionen">
                <a [href]="transactionHistoryUrl" download="transactionHistory.txt">Transaktionen herunterladen</a>
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="transactionData" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allTransactionColumns"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allTransactionColumns"></tr>
                            <ng-container nbTreeGridColumnDef="action">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Aktion</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    {{row.data.action}}
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="description">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Beschreibung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.description}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="date">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Datum</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.date}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="value" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.value}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.amount}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="totalValue">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Totaler Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.totalValue || '-'}}</td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>