Nutzerdaten neu laden: <nb-icon icon="refresh" id="refreshButton" (click)="refreshData()"></nb-icon>
<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Nutzer informationen">
                <p>List of <strong>users</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Markt Informationen">
				<a [href]="portfolioListUrl" download="portfolio.txt">Portfoliostand herunterladen</a>
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="data" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
                            <ng-container nbTreeGridColumnDef="symbol">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Symbol</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="displayStockInformation(row)">
                                    <nb-tree-grid-row-toggle [expanded]="row.expanded" *ngIf="row.data.kind === 'dir'">
                                    </nb-tree-grid-row-toggle>
                                    <div *ngIf="row.data.type == 'child'">
                                        -
                                    </div>
                                    <div *ngIf="row.data.type == 'root'">
                                        {{row.data.symbol}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="company" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Unternehmung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    <div *ngIf="row.data.type == 'child'">
                                        -
                                    </div>
                                    <div *ngIf="row.data.type == 'root'">
                                        {{row.data.company}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="800">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.amount}}</i></td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="totalValue">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Totaler Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row"><i>{{row.data.totalValue}}</i>
                                </td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Transaktionen">
				<a [href]="transactionHistoryUrl" download="transactionHistory.txt">Transaktionen herunterladen</a>
                <nb-card>
                    <nb-card-body>
                        <table [nbTreeGrid]="transactionData" equalColumnsWidth>
                            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allTransactionColumns"></tr>
                            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allTransactionColumns"></tr>
                            <ng-container nbTreeGridColumnDef="action">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Action</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">
                                    {{row.data.action}}
                                </td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="description" [hideOn]="800">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Beschreibung</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.description}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="date" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Datum</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.date}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="value" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.value}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="amount" [hideOn]="1000">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Anzahl</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.amount}}</td>
                            </ng-container>
                            <ng-container nbTreeGridColumnDef="totalValue">
                                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>Totaler Wert</th>
                                <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.totalValue || '-'}}</td>
                            </ng-container>
                        </table>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>
