button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
}

.nb-column-symbol {
    width: 100%;
}

@media screen and (min-width: 400px) {
    .nb-column-symbol,
    .nb-column-company {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    .nb-column-symbol,
    .nb-column-company,
    .nb-column-amount {
        width: 33.333%;
    }
}

@media screen and (min-width: 600px) {
    .nb-column-symbol {
        width: 31%;
    }
    .nb-column-company,
    .nb-column-amount,
    .nb-column-totalValue {
        width: 23%;
    }
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 40px;
    padding: 5px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    vertical-align: middle;
    z-index: 10;
}