<script src="node_modules/chart.js/dist/Chart.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>


<nb-card>
    <nb-card-body>
        <!-- accordion -->
        <nb-accordion>
            <!-- performance -->
            <nb-accordion-item>
                <nb-accordion-item-header>Performance</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <p>your performance:</p>
                    <div class="chart-container" ng-show="graph.visible">
                        <div ng-include=''></div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Cash -->
            <nb-accordion-item>
                <nb-accordion-item-header>Cash</nb-accordion-item-header>
                <nb-accordion-item-body>
                    Cash:
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Market Value -->
            <nb-accordion-item>
                <nb-accordion-item-header>Market Value</nb-accordion-item-header>
                <nb-accordion-item-body>
                    market value:
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>
