<script src="node_modules/chart.js/dist/Chart.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>


<nb-card>
    <nb-card-body>
        <!-- accordion -->
        <nb-accordion>
            <!-- performance -->
            <nb-accordion-item>
                <nb-accordion-item-header>Performance</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="chart-container" ng-show="graph.visible">
                        <app-performance-line-chart></app-performance-line-chart>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Cash -->
            <nb-accordion-item>
                <nb-accordion-item-header>Allocation</nb-accordion-item-header>
                <nb-accordion-item-body>
                        <div class="chart-container" ng-show="graph.visible">
                                <app-allocation-doughnut-chart></app-allocation-doughnut-chart>
                            </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Market Value -->
            <nb-accordion-item>
                <nb-accordion-item-header>Overview</nb-accordion-item-header>
                <nb-accordion-item-body>
                    Cash Balance:
                    Portfolio Value:
                    Trades made:
                    Overall return:
                    
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>